.footer {
    width: 100%;
    background-color: #161616;
    &_company {
        width: 1150px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;   
        align-items: center;
        padding: 30px 0;
        &-name {
            color: #fff;
            font-size: 30px;
            margin-bottom: 20px;
            font-family: "Orbitron", sans-serif;
            .letter {
                color: #26e7f5;
                font-family: "Orbitron", sans-serif;
                font-size: 42px;
                font-weight: 700;
                border: none;
                border-bottom: solid 1px #26e7f5;
            }
        }
    }
    &_pages {
        &-item {
            font-family: "Orbitron", sans-serif;
            color: #e0e0e0;
            font-size: 20px;
            margin: 5px 0;
        }
    }

}